.menu {
  padding-left: 0px;
}

.left {
  float: none;
}

.float {
  float: none;
  width: 30%;
  margin-left: 7.5em;
}

.basso {
  margin-left: 3em;
}

.basso h3 {
  margin-left: 3em;
}

.destra {
  float: none;
  width: 100%;
  margin-left: 0.2em;
  padding-bottom: 0.2em;
}

#grande {
  width: 50%;
  margin-left: 5em;
}

.sinistra {
  width: 50%;
  float: none;
  padding: 0;
  margin-left: 6em;
  margin-top: 1em;
}

.cucito {
  padding-top: 1.5em;
  padding-left: 1em;
}
