/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Stili principali */

html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.2em;
}

body{
	background-color: #ADD9F4;
}

h1{
	text-align: center;
	padding-top: 0.6em;
}

h2 {
	text-align: center;
	padding: 1em;
}

/* Menu */

.menu{
	list-style-type:none;
	overflow: auto;
	background-color:#333;
	padding-left: 5em;
}

.left{
	display:block;
	color: white;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
	float:left;
}

.active{
	background-color:red;
}

/* Pgina Index */

.centro{
	margin:auto;
	display:block;
}

.giallo{
	background-color: yellow;
	color:red;
	padding: 1em 1.5em;
}

.grigio{
	background-color:#eee;
	padding: 2.5em;
}

.grigio h3 {
	padding-bottom: 1em;
}

.grigio h4 {
	padding: 1em 0;
}

.font{
	font-family: Arial, sans-serif;
}

/* Pagina Chisono */

.float{
	float:left;
	margin: 2em;
}
.piccolo{
	width:70%;
	margin-top: 2em;
}
.basso{
	padding-top:2em;

}

/* Pagina Cucito */

.cucito{
	padding-top:3em;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.destra{
	float:right;
	padding: 2em;
}
.sinistra{
	float:left;
	padding:80px 40px;
}

/* Pagina Contatti */

.modulo{
	background-color: #eee;
	padding: 2em;
}

#contact {
	padding: 3em;
}

#contact h3 {
	margin-bottom: 1em;
}
